---
    layout: apidoc
---
<?js
  paths = paths || {};
  /* url prefix for stylesheets */
  paths.stylesheets = paths.stylesheets || "";
  paths.javascripts = paths.javascripts || "";
  body = body || "";
  showHeader = typeof showHeader != "undefined" ? Boolean(showHeader) : true;
?>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     {% include apitoc.html %}
    </div>
    <div class="span9">
      <?js= body ?>
    </div>
  </div>
</div>
