#
# common environment variables
#
# Copy to 'env.sh' and edit configuration.
#

# the full path to the project repository
# 
# Default value is the current directory 
#
JOSM_SCRIPTING_PLUGIN_HOME=`pwd`

# set the location of the JOSM jar  
#JOSM_JAR=/path/to/josm.jar

# the location of the scripting plugin jar
SCRIPTING_JAR=$JOSM_SCRIPTING_PLUGIN_HOME/dist/scripting.jar

# the full path to the rhino jar file
# download from http://www.mozilla.org/rhino/download.html
#
RHINO_JAR=$JOSM_SCRIPTING_PLUGIN_HOME/contrib/js.jar

if [ "$RHINO_JAR" = "" ]; then
   echo "FATAL: environment variable RHINO_JAR not set. Edit the configuration file 'env.sh'"
elif ! [ -e "$RHINO_JAR" ]; then 
   echo "FATAL: Rhino jar file '$RHINO_JAR' doesn't exist. Configure jar location in file 'env.sh'"
fi

if [ "$JOSM_JAR" = "" ]; then
   echo "FATAL: environment variable JOSM_JAR not set. Edit the configuration file 'env.sh'"
elif ! [ -e "$JOSM_JAR" ];  then
   echo "FATAL: JOSM jar file '$JOSM_JAR' doesn't exist. Configure jar location in file 'env.sh'"
   exit 1
fi

# the class path used when invoking rhino from the command line,
# i.e. to run test scripts for the scripting plugin
#
RHINO_CP="$RHINO_JAR:$JOSM_JAR:$SCRIPTING_JAR"
