#
# common environment variables
#
# Copy to 'env.sh' and edit configuration.
#

# the full path to the project repository
# 
# Default value is the current directory 
#
JOSM_SCRIPTING_PLUGIN_HOME=`pwd`

# the full path to the rhino jar file
# download from http://www.mozilla.org/rhino/download.html
#
RHINO_JAR=$JOSM_SCRIPTING_PLUGIN_HOME/contrib/js.jar

if [ "$RHINO_JAR" = "" ]; then
   echo "FATAL: environment variable RHINO_JAR not set. Edit the configuration file 'env.sh'"
elif ! [ -e "$RHINO_JAR" ]; then 
   echo "FATAL: Rhino jar file '$RHINO_JAR' doesn't exist. Configure jar location in file 'env.sh'"
fi