<?js
'use strict';
/*
 * Renders the table of contents
*/
const data = obj.data;
const self = this;
const safeHtmlFilename = obj.safeHtmlFilename;

function filterClasses(classes) {
   	return classes.filter(function(cls) {
   		cls.name != cls.memberof
   	});
};

?>
<div class="toc">
<?js /* ------------------ list of classes ------------------- */ ?>
<?js
const classes = data({kind: "class"}).order("name");
if (classes.count() > 0) {           
?>
<h2 class="section-header">Classes</h2>
<ul class="section-header">
<?js     classes.each(function(cls) {
            if (cls.name == cls.memberof) return;
?>
<li><a href="../classes/<?js= safeHtmlFilename(cls.name) ?>"><?js= cls.name ?></a></li>
<?js     });  /* end each */              ?>
</ul>
<?js } /* end if */ ?>


<?js /* ------------------ list of namespaces ------------------- */ ?>
<?js
const namespaces = data({kind: "namespace"}).order("name");
if (namespaces.count() > 0) {  ?>
<h2 class="section-header">Namespaces</h2>
<ul>
<?js     namespaces.each(function(ns) { ?>
<li><a href="../namespaces/<?js= safeHtmlFilename(ns.name) ?>"><?js= ns.name ?></a></li>
<?js     });  /* end each */ ?>
</ul>
<?js } /* end if */ ?>

<?js /* ------------------ list of mixins ------------------- */ ?>
<?js
const mixins = data({kind: "mixin"}).order("name");
if (mixins.count() > 0) {  ?>
<h2 class="section-header">Mixins</h2>
<ul>
<?js    mixins.each(function(mixin) {  ?>
<li><a href="../mixins/<?js= safeHtmlFilename(mixin.name) ?>"><?js= mixin.name ?></a></li>
<?js    });  /* end each */ ?>
</ul>
<?js } /* end if */ ?>

<?js /* ------------------ list of modules ------------------- */ ?>
<?js
const modules = data({kind: "module"}).order("name");
if (modules.count() > 0) {  ?>
<h2 class="section-header">Modules</h2>
<ul>
<?js     modules.each(function(module) {  ?>
<li><a href="../modules/<?js= safeHtmlFilename(module.name) ?>"><?js= module.name ?></a></li>
<?js     });  /* end for */ ?>
</ul>
<?js } /* end if */ ?>
</div>