body {
	margin-top: 2cm;
	font-size: 12pt;
}

#console-img {
	border-width: 1px;
	border-color: rgb(230,230,230);
	border-style: solid;
}

code.javascript,
code.bash,
code.python
{
	font-size: 10pt;
}

h1.home.title {
	text-align: center;
	font-size: 26pt;
}

h2.home.subtitle {
	text-align: center;
	font-size: 16pt;
}

h1 {
	font-size: 18pt;
	margin-bottom: 0;
}

h2 {
	font-size: 14pt;
	margin-bottom: 0;
	margin-top: 0;
}

h3 {
	font-size: 12pt;
	margin-bottom: 0;
	margin-top: 0;
}

ul, ol {
	margin-top: 1em;
}

dl dt {
	margin-top: 6px;
}

.toc h2.section-header {
	font-size: 12pt;
}

.toc {
	overflow: auto;
}

.apidoc h2 {	
	border-top-color: rgb(100,100,100);
	border-top-style: solid;
	border-top-width: 2px;
	font-size: 12pt;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.apidoc h3 {
	font-size: 12pt;
	margin-bottom: 0;
	padding-bottom: 0;
}

.apidoc table.member-summary {
	border-collapse: collapse;
	width: 100%;
}
.apidoc table.member-summary td,
.apidoc table.member-summary th {
	padding-left: 6px;
	padding-right: 6px;	
}
.apidoc table.member-summary td, 
.apidoc table.member-summary th,
.apidoc table.member-summary 
{
	border: 1px dotted rgb(200,200,200);
}

.apidoc table.member-summary  th {
	font-weight: bold;
	background: rgb(240,240,240);
	text-align: left;

}

.apidoc table.member-summary  td.section-header {
	font-weight: bold;
}


.apidoc table.parameters {
	border-collapse: collapse;
	width: 100%;
}

.apidoc table.parameters td,
.apidoc table.parameters th {
	padding-left: 6px;
	padding-right: 6px;	
}
.apidoc table.parameters td, 
.apidoc table.parameters th,
.apidoc table.parameters 
{
	border: 1px dotted rgb(200,200,200);
}

.apidoc table.parameters  th {
	font-weight: bold;
	background: rgb(240,240,240);
	text-align: left;

}

.apidoc table.parameters  td.section-header {
	font-weight: bold;
}

.apidoc .member-header {
	width: 100%;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: rgb(200,200,200);	
	margin-top: 6px;
}

.apidoc .title {
	font-size: 16pt;
}

a[data-js-object]:hover,
a[data-josm-class]:hover
{
	cursor: hand;
	cursor: pointer;
}



table{
	border-collapse: collapse;
	width: 100%;
}

table td{
	padding-left: 6px;
	padding-right: 6px;	
}
table td, 
table th,
table
{
	border: 1px dotted rgb(200,200,200);
}

table th {
	font-weight: bold;
	background: rgb(240,240,240);
	text-align: left;

}
