{{! --------------------------------------------------------------------- }}
{{! mustache template for the JavaScript wrapper around a required module }}
{{! --------------------------------------------------------------------- }}
{{! RequireFunction is populated in the scripting context                 }}
(function() {
    const URI = Java.type('java.net.URI')
    const RequireFunction = Plugin.type('org.openstreetmap.josm.plugins.scripting.graalvm.RequireFunction')

    const module = {
        exports: {},
        id: '{{& moduleID }}',
        uri: '{{& moduleURI }}'
    }

    const require = (module) => (moduleId) => {
        if (module && module.uri) {
            return new RequireFunction(new URI(module.uri)).apply(moduleId)
        } else {
            return new RequireFunction().apply(moduleId)
        }
    }

    !function(module, exports, require) {

         {{& moduleSource }}

    }(module, module.exports, require(module))

    return module.exports
 }())