
<script>
function loadDocPage(page) {
	var iframe= document.getElementById("api-doc");
	iframe.style.visibility="hidden";
	iframe.src=page;
}
</script>

<?js
function compareByName(a,b) {
    return a.name < b.name ? -1 : (a.name == b.name ? 0 : 1);
};

function filterClasses(classes) {
   var ret =[];
   for (var i=0; i<classes.length;i++) {
      var cls = classes[i];
      if (cls.name != cls.memberof) ret.push(cls);
   }
   return ret;
};

function safeHtmlFilename(fn) {
	return fn.replace(/[^a-zA-Z0-9$\-_\.]/g, "_") + ".html";
};
?>

<div id="navigation">
<?js /* ------------------ list of classes ------------------- */ ?>
<?js
var classes = filterClasses(data.get({kind: "class"}).sort(compareByName));
?>
<?js if (classes.length) {  ?>
<h2>Classes</h2>
<ul>
<?js     for (var i=0; i<classes.length; i++) { ?>
<li><a onclick="loadDocPage('classes/<?js= safeHtmlFilename(classes[i].name) ?>')" target="api-doc"><?js= classes[i].name ?></a></li> 
<?js     }  /* end for */ ?>
</ul>
<?js } /* end if */ ?>


<?js /* ------------------ list of namespaces ------------------- */ ?>
<?js
var namespaces = filterClasses(data.get({kind: "namespace"}).sort(compareByName));
?>
<?js if (namespaces.length) {  ?>
<h2>Namespaces</h2>
<ul>
<?js     for (var i=0; i<namespaces.length; i++) { ?>
<li><a onclick="loadDocPage('namespaces/<?js= safeHtmlFilename(namespaces[i].name) ?>')" target="api-doc"><?js= namespaces[i].name ?></a></li> 
<?js     }  /* end for */ ?>
</ul>
<?js } /* end if */ ?>

<?js /* ------------------ list of mixins ------------------- */ ?>
<?js
var mixins = filterClasses(data.get({kind: "mixin"}).sort(compareByName));
?>
<?js if (mixins.length) {  ?>
<h2>Mixins</h2>
<ul>
<?js     for (var i=0; i<mixins.length; i++) { ?>
<li><a onclick="loadDocPage('mixins/<?js= safeHtmlFilename(mixins[i].name) ?>')" target="api-doc"><?js= mixins[i].name ?></a></li> 
<?js     }  /* end for */ ?>
</ul>
<?js } /* end if */ ?>

<?js /* ------------------ list of modules ------------------- */ ?>
<?js
var modules = filterClasses(data.get({kind: "module"}).sort(compareByName));
?>
<?js if (modules.length) {  ?>
<h2>Modules</h2>
<ul>
<?js     for (var i=0; i<modules.length; i++) { ?>
<li><a onclick="loadDocPage('modules/<?js= safeHtmlFilename(modules[i].name) ?>')" target="api-doc"><?js= modules[i].name ?></a></li> 
<?js     }  /* end for */ ?>
</ul>
<?js } /* end if */ ?>
</div>

<div id="content">
<iframe  id="api-doc" src="mixins/NodeMixin.html" style="visibility:hidden;" onload="this.style.visibility = 'visible';"></iframe>
</div>
<div style="clear:both;"></div>
